/* 
Mobile: 375px
Desktop: 1440px
*/

:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}
body{
    background-color: var(--light-gray);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}
.mainComponent{
    width: 280px;
    height: fit-content;
    margin: 0 auto;
    background-color: var(--white);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#qrImage{
    border-radius: 15px;
}
.textSection{
    padding: 0 20px;
    margin: 0 auto;
    padding-top: 20px;
}
.darkText{
    font-size: 21px;
    font-weight: 700;
    margin: 0;
}
.smallerText{
    font-size: 15px;
    color: var(--grayish-blue);
    font-weight: 400;
    text-align: center;
}
/* 
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
    background-color: var(-white); 
} */